<!-- home.html -->
{% extends "base.html" %}
{% block content %}
<h1>Lista de mensajes</h1>
<br>
<a href="{% url 'api-root' %}">Api</a>
<br><br>
<a href="{% url 'crear' %}">Crear</a>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Texto</th>
      <th>Fecha</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for mensaje in mensajes %}
    <tr>
      <td>{{ mensaje.id }}</td>
      <td>{{ mensaje.texto }}</td>
      <td>{{ mensaje.fecha }}</td>
      <td>
        <a href="{% url 'editar' mensaje.id %}">Editar</a>
        
      </td>
      <td>
           <!-- Cambiamos el enlace de eliminar por un formulario con un botón -->
           <form method="post" action="/{{ mensaje.id }}/eliminar/">{% csrf_token %}
            <!-- Agregamos un input oculto con el método HTTP DELETE -->
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Eliminar</button>
          </form>
        
      </td>
     
    </tr>
    {% endfor %}
  </tbody>
</table>





{% endblock content %}
